/*set background color*/
body {
    background-color: #E2EDED;
}

h1.title {
    font-family: Papyrus, fantasy;
    font-size: 40px;
}

.footer {
    font-family: Papyrus, fantasy;
    font-size: 16px;
}

/*.back_button{
    text-align: left;
}

.continue_button{
    text-align: right;
}*/

