<!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Address</td>
            <td>Post Code</td>
            <td>Location</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["FirstName"]}}</td>
               <td>{{row["LastName"]}}</td>
               <td> {{ row["Address"]}}</td>
               <td>{{row['PostCode']}}</td>
                <td>{{row['Location']}}</td>
            </tr>
         {% endfor %}
      </table>

      <a href = "/">Go back to home page</a>
   </body>
</html>