/*#company {
    font-family: Courier; */


.home {
    font-family: Papyrus;
    font-size: 50px;
    color: whitesmoke;
    text-align: center;
    background-color: #132554;
}

.home_body{
    background-color: #132554;
}

.title {
    font-family: Papyrus;
    font-size: 20;
    text-align: left;
    background-color: #D5E4FF;
    overflow: visible;
    outline: black;

}

.button {
    font: 24px "Liberation Sans";
    text-decoration: none;
    background-color: #D5E4FF;
    color: #132554;
    padding: 3px 9px 3px 9px;
    border: 1px solid #7CABF5;
    alignment: center;
}


body{
    background-color: #D5E4FF;
}

form {
    font-size: 20px;
    font-family: "Franklin Gothic Demi";
    color: black;
}

h1{
    font-family: "Franklin Gothic Demi";
}

h2{
    font-family: "Franklin Gothic Demi";
}

h3{
    font-family: "Franklin Gothic Demi";
}

h4{
    font-family: "Franklin Gothic Demi";
}

