/*home.html*/
/*h1 with class="home"*/
#home {
    font-family: 'Baloo Chettan', cursive;
    font-size: 50px;
    color: ghostwhite;
    text-align: center;
    float: left;
}

/*h2 heading in thank you for booking page*/
h2.home {
    font-family: 'Dosis-Medium', sans-serif;
    font-size: 15px;
    color: ghostwhite;
    text-align: center;
}

/*body from home.html with class="home_body"*/
.home-body{
    background-color: #0B0030;
    overflow: hidden;
    padding: 1em;
    margin: 0;
    font-family: 'Baloo Chettan', cursive;
    font-size: 40px;
    text-align: left;
    overflow: hidden;
    padding: 0.5em;
    margin: 0;
    display: block;
}

/*footer on home.html and book_flight.html - start and end*/
.footer-home {
    color: #0B0030;
    font-size: 12px;
}

.footer {
    color: #0B0030;
    font-size: 12px;
}

/*title in header "GenomeAir"*/
.title {
    font-family: 'Baloo Chettan', cursive;
    font-size: 40px;
    text-align: left;
    background-color: #0B0030;
    overflow: hidden;
    padding: 1em;
    margin: 0;
    display: block;

}

/*logo on right site of company name*/
img{
    float: left;
}

/*define text in header*/
#title-text {
    color:ghostwhite;
    float: left;
}


#button {
    font-family: 'Dosis-Medium', sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #D7E5FF;
    color: #0B0030;
    padding: 3px 9px 3px 9px;
    border: 1px solid ghostwhite;
    align-content: center;
}

/*define font of all headings*/
h1{
    font-family: 'Dosis-Medium', sans-serif;
    font-size: 18px;
    /*color: #0B0030;*/
}


h2{
    font-family: 'Dosis-Medium', sans-serif;
    font-size: 15px;
    color: #0B0030;
}


h3{
    font-family: 'Dosis-Medium', sans-serif;
    font-size: 12px;
    color: #0B0030;
}

h4{
    font-family: 'Dosis-Medium', sans-serif;
    font-size: 11px;
    color: #0B0030;
}

/*define forms*/
form {
    font-size: 15px;
    font-family: 'Dosis-Medium', sans-serif;
    color: #0B0030;
}

/*body{
    background-color: #D5E4FF;
}*/


