<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <link href="./static/css/airline_style.css" type="text/css" rel="stylesheet">
   <title>GenomeAir - Thank you for flying with us!</title>
</head>
<body>
    <div class="home-body">
        <p id="home"> {{ msg }} </p> <br>
        <img src="/static/css/logo.png" width="80" height="80">
    </div>
    <br/>
    <br/>
    <br/>
      <!--<h1 class="home"> {{ msg }} </h1><br><br>-->
      <!--<h2 class="home"><a href = "/">Back to Home</a></h2>-->
      <a id="button" style="text-align: center" href = "/" align="center">Back to Home</a>
      <br/>
      <br/>
      <br/>
         <div>
            <footer class="footer-home">
               <p>&copy; GenomeAir 2019</p>
            </footer>
         </div>
</body>
</html>