<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="./static/css/airline_style.css" type="text/css" rel="stylesheet">
    <title>Welcome to GenomeAir - Home</title>
</head>
<body class="home_body">
<h1 class="home"> Willkommen bei GenomeAir!</h1> <br>
        <a class="button" style="text-align: center" href = "/search_flight"> Flug auswählen </a>
    <div>
        <footer class="footer">
            <p>&copy; GenomeAir 2019</p>
        </footer>
    </div>
</body>
</html>