<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="./static/css/airline_style.css" type="text/css" rel="stylesheet">
    <title>Welcome to GenomeAir!</title>
</head>

<body>
    <div class="home-body">
        <p id="home"> Willkommen bei GenomeAir!</p> <br>
        <img src="/static/css/logo.png" width="80" height="80">
    </div>

        <!--<img class="home-logo" src="/static/css/logo.png" align="center" width="80px" height="80px">-->
        <br/>
        <br/>
        <a id="button" style="text-align: center" href = "/search_flight" align="center"> Flug auswählen </a>
        <br/>
        <br/>
        <br/>
        <!--company-->
        <footer class="footer-home">
            <p>&copy; GenomeAir 2019</p>
        </footer>
</body>
</html>