<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="./static/css/airline_style.css" type="text/css" rel="stylesheet">
    <title>GenomeAir - Please provide your personal data!</title>
</head>

<body>
    <div class="title">
        <!--title in header-->
        <p id="title-text">Genome Air</p>
        <img src="/static/css/logo.png" width="80" height="80">
    </div>

      <form action = "{{ url_for('confirm_data') }}" method = "POST">

          <p>Ihr Flug: {{ flightNumber }} </p>

          <h1>Personendaten</h1>
          <p>
          Vorname&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type = "text" name = "firstName" required/></br><br>

          Nachname&nbsp;&nbsp;
          <input type = "text" name = "lastName" required/></br><br>

          Addresse&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <textarea name = "address" rows="3" cols="35" required></textarea><br><br>

          Postleitzahl&nbsp;&nbsp;
          <input type = "number" name = "postCode" size="4" required/></br><br>

          Ort&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type = "text" name = "location" required/><br><br>

          E-Mail&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type = "text" name = "mailAddress" required/><br><br>

          Telefon Nummer<br>
          <select>
              <option value="+43">+43</option>
          </select>
          <input type="number" name = "phoneNumber" /><br><br><br>
              </p>
         <input type = "submit" value = "Daten bestätigen" /><br>

      </form>

    <div>
          <!--company-->
        <footer class="footer">
            <p>&copy; GenomeAir 2019</p>
        </footer>
    </div>
</body>
</html>