<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="./static/css/airline_style.css" type="text/css" rel="stylesheet">
    <title>GenomeAir - Please search for flights!</title>
</head>

<body>
    <div class="title">
        <!--title in header-->
        <p id="title-text">Genome Air</p>
        <img src="/static/css/logo.png" width="80" height="80">
    </div>

    <h2> Wählen Sie Ihren Flug!</h2>
    <form action = "{{ url_for('get_flight') }}" method = "POST">

       <p>
        Abflug von:</br>
        <input type="text" name="departureAirport" required/></br><br>

        Ziel: </br>
        <input type="text" name="targetAirport" required/></br><br>

        Abflugdatum: </br>
        <input type="date" name="flightDate" required/></br><br>

        Passagieranzahl: </br>
        <input type="number" name="passengerNumber" min="1" max="6" required/></br><br>

       </p>

         <input type = "submit" value = "Flüge suchen" /></br><br>
      </form>
    <div>
        <!--company-->
        <footer class="footer">
            <p>&copy; GenomeAir 2019</p>
        </footer>
    </div>
</body>
</html>